{% extends "index/base.html" %}


{% block header %}
  <div class="header">
    <span class="head-left"><a href="#">首页</a></span>
    <span class="head-left"><a href="#">产品中心</a></span>
    <span class="head-left"><a href="#">公司简介</a></span>
    <span class="head-right"><a href="#">登录</a></span>
    <span class="head-right"><a href="#">注册</a></span>
  </div>
{% endblock header %}

{% block content %}
    <div class="content">这是网站的内容</div>
{% endblock content %}

{% block footer %}
  <div class="footer">这是网站的底部内容</div>
{% endblock footer %}